#GlerekaPostingPage {
	padding: 100px 0;
  display: flex;
  flex-direction: column;

  > form {
    width: 100%; height: fit-content;
		display: flex;
		flex-direction: column;

		> input, textarea {
			font-size: 24px;
			font-family: inherit;

			&::placeholder {
				color: #bbb;
			}

			&:focus {
				padding-left: 20px;
				border: 1px solid #000;
			}
		}

		> input {
			height: 80px;
		}

		> textarea {
			padding-top: 20px;
			height: 300px;
			resize: none;
		}

		.wrap_button {
			margin-top: 20px;
			height: 60px;
			display: flex;
			justify-content: flex-end;

			button {
				width: 100px; height: 100%;
				font-size: 24px;
				cursor: pointer;

				&:hover {
					border: 1px solid #000;
				}
			}
		}
  }
}

#ModalSearchBook,
#ModalSearchMusic {
	position: absolute;
	left: 0; top: 70px;
	padding-top: 200px;
	width: 100%; height: calc(100% - 30px - 40px);
	background-color: #ffffff00;
	backdrop-filter: blur(10px);
	gap: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	> button {
    position: absolute;
    right: 40px; top: 40px;
    width: 24px; aspect-ratio: 1;
    background: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-x-lg\' viewBox=\'0 0 16 16\'><path d=\'M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z\'/></svg>') center / contain no-repeat;
		cursor: pointer;
  }

	> ul, form {
		width: 50vw;
		display: flex;
	}

	> ul > li {
		display: flex;
		flex-direction: column;
	}

	> form {
		height: 80px;

		input, select, button  {
			font-size: 24px;
		}

		> input {
			flex: 7;
			padding-left: 20px;
			border-top: 1px solid #111;
			border-bottom: 1px solid #111;
		}

		> select {
			flex: 1.5;
			padding-left: 20px;
			color: #777;
			background-color: transparent;
			-webkit-appearance: none;  // Chrome, Safari
			-moz-appearance: none;     // Firefox
			appearance: none;          // 표준
			
			&::-ms-expand {           // IE, Edge Legacy
				display: none;
			}
		}

		> button {
			flex: 1.5;
			color: #fff;
			background-color: #111;
			cursor: pointer;
		}
	}
}