
/* Interface.js에도 스타일컴포넌트 있음 */
:root {
 --Titlebar-background-color : #F0F1F3;
 --Searchbar-background-color : #EFF1F3;
 --Taskbar-background-color : #e9e9e9;
}
body {
  position: relative;
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#Desktop {
  flex: 1;
  position: relative;
  width: 100vw; height: calc(100vh - 50px);
  background: url(../../public/img/background/background.jpg) center/30% no-repeat;
  background-color: #000;
  /* border: 1px solid #fff; */
  overflow: hidden;
}
#Taskbar {
  z-index: 999;
  position: relative;
  padding: 4px;
  width: 100vw; height: 50px;
  background-color: var(--Taskbar-background-color);
  display: flex;
  display: none;
}
.Window {
  position: relative;
  /* border: 1px solid #555; */
  border-radius: 4px 4px 0 0;
  display: grid;
  grid-template-rows: 30px 40px 1fr;
  justify-self: center;
  overflow: hidden;
  /* border: 1px solid red; */
}
#Titlebar {
  z-index: 999;
  position: sticky;
  top: 0px;
  width: 100%; height: 30px;
  background-color: var(--Titlebar-background-color);
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}
#Tab {
  z-index: 999;
  position: absolute;
  left: 0px; top: 0px;
  padding: 0 8px;
  width: 220px; height: 30px;
  font-size: 13px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Tab:hover button {
  visibility: visible;
  opacity: 1;
}
#Tab > button {
  width: 16px; aspect-ratio: 1;
  border-radius: 50%;
  background-color: #eee;
  background: url(../../public/img/icon/close_blk_b.png) center/50% no-repeat;
  visibility: hidden;
  opacity: 0;
}
#Tab > button:hover {
  background-color: #ddd;
}
#Searchbar {
  z-index: 999;
  position: sticky;
  top: 30px;
  padding: 4px;
  width: 100%; height: 40px;
  background-color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
}
#Searchbar > div {
  flex-grow: 1;
  height: 30px;
  border-radius: 4px;
  background-color: var(--Searchbar-background-color);
  cursor: text;
}
#Searchbar > button {
  height: 100%; aspect-ratio: 1;
  border-radius: 4px;
}
#Searchbar > button:hover {
  background-color: #ddd;
}
#Folder {
  transform: translate(0);
  background-color: #fff;
  transition: all 0.5s;
}
#Folder main {
  width: 50vw; height: 60vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}
#Folder main > aside {
  padding-top: 10px;
  border-right: 1px solid #f2f2f2;
}
#Folder main > div {
  padding: 16px;
  background-color: #fff;
  display: flex;
  gap: 8px;
  align-items: start;
}