#Portfolio,
#Stack,
#Addict,
#Reference,
#Community {
  z-index: 999;
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100%;
}
/* #Game2048,
#TodoList {
  position: absolute;
  right: 0; top: 0;
  width: 480px; height: 100%;
} */
#Contact {
  position: absolute;
  left: 50%; top: 10%;
  transform: translate(-50%, 0);
}