.Window {
  flex-grow: 1;
  position: relative;
  height: fit-content;
  /* border: 5px solid pink; */
  border-radius: 4px 4px 0 0;
  display: grid;
  grid-template-rows: 30px 40px 1fr;
  justify-self: center;
  overflow: hidden;
<<<<<<< HEAD
=======
}

.Window .Container {
  background-color: #fff;
>>>>>>> be3593ad60895c5ca8d94bd1134d674442c4386e
}