#Addict {
  background-color: #fff;
  overflow-y: scroll;
}
#Addict header {
  z-index: 1;
  position: sticky;
  top: 70px;
  padding: 0 100px;
  width: calc(100% - 2px); height: 80px;
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
}
#Addict header a,
#Addict header div {
  width: 90px; height: 100%;
  font-size: 15px;
  font-weight: 600;
  display: grid;
  place-items: center;
}
#Addict header>a:nth-child(1) {
  padding-bottom: 4px;
  width: fit-content; height: 100%;
  aspect-ratio: 2 / 1;
  font-size: 30px;
  font-weight: 400;
}
#Addict header a.login {
  margin-left: auto;
}
#Addict header>div {
  position: relative;
}
#Addict footer {
  padding: 0 100px;
  width: 100%; height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#Addict footer>div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: grid;
  place-items: center;
}
#Addict footer div>div {
  font-size: 16px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#Addict footer h3 {
  margin-bottom: 15px;
  text-align: left;
}
#Addict footer p {
  text-align: left;
}

.AddictExplain {
  z-index: 999;
  position: fixed;
  left: 0; top: 70px;
  width: 100%; height: 100%;
  /* border: 1px solid #000; */
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}