#Reference {
  background-color: #000;
}
#Reference .Container {
  color: #fff;
  display: grid;
  grid-template: "article aside";
  grid-template-columns: 1fr 320px;
  overflow: hidden;
}
#Reference aside {
  position: relative;
  grid-area: aside;
  padding-top: 70px;
  width: 100%; height: 100%;
  font-size: 18px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
#Reference aside:hover > :not(:hover) {
  opacity: 0.3;
}
#Reference aside a {
  color: #fff;
}
#Reference aside > a {
  padding: 10px;
 
  display: flex;
  flex-direction: column;
}
#Reference aside nav {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
#Reference aside nav:hover > :not(:hover){
  opacity: 0.3;
}
#Reference aside nav a {
  padding: 10px 0 10px 40px;
}
#Reference article {
  position: relative;
  grid-area: article;
  width: 100% ; height: 100%;
  overflow: hidden;
}
#Reference article > div {
  position: absolute;
  left: 0; top: 0;
  width: 500%; height: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: all 0.5s;
}
#Reference article > div section {
  position: relative;
  padding: 60px 120px 100px 440px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#Reference section:nth-child(3) {
  padding: 0 120px 100px 440px;
}
#Reference section::-webkit-scrollbar {
  width: 1px; height: 1px;
}
#Reference section:hover > :not(:hover) {
  opacity: 0.3;
}
#Reference section > hr {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  visibility: hidden;
}
#Reference section > #location-CSS {
  padding-top: 60px; margin: 0;
}
#Reference section > div {
  position: relative;
  padding: 20px;
  background-color: #000;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#Reference section > div:not(:nth-child(1)) {
  margin-top: 40px;
}
#Reference #library > .filter_CSS:nth-child(2) {
  margin-top: 0;
}
#Reference section > div > h1 {
  color: #666;
  font-size: 24px;
}
#Reference section > div p {
  margin: 0 !important;
}
#Reference section > div p::before {
  content: ":\00a0\00a0";
}
#Reference section > div p s {
  color: #444;
}
#Reference section > div > a {
  position: absolute;
  right: 20px; top: 50%;
  transform: translate(0, -50%);
  padding: 8px 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  border-radius: 4px;
  background-color: #246BEB;
}