<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
    <form method="POST" action="/login" class="form-box">
      <h4>로그인</h4>
      <input name="username">
      <input name="userpassword" type="password">
      <button type="submit">로그인</button>
    </form>
</body>

</html>