#Mureka {
  background-color: #fff;
  
  .Container {
    position: relative;
    padding: 2px 8px 8px 8px;
    width: 100%;
    display: flex;
    overflow-y: scroll;

    main {
      position: sticky;
      top: 0px;
      flex: 7.5;
      height: fit-content;
      border-radius: 8px;
<<<<<<< HEAD
      background-color: #f8f9fa;
=======
>>>>>>> be3593ad60895c5ca8d94bd1134d674442c4386e
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .applyPadding {
      padding: 40px;
    }

    .showAside {
      margin-left: 8px;
      flex: 2.5;
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}