#AddictAllProduct {
  width: 100%; height: fit-content;
  /* border: 1px solid red; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* display: none; */
}
#AddictAllProduct > div:nth-child(1) {
  z-index: 1;
	position: sticky;
	top: 70px;
	top: calc(30px + 40px + 80px);
  padding: 0 0 20px;
  text-align: center;
	background-color: #fff;
}
#AddictAllProduct > div:nth-child(2),
#AddictBestProduct,
#AddictLiquidProduct,
#AddictSolidProduct,
#AddictGiftProduct {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#AddictAllProduct button {
  margin: 0 4px;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
}
#AddictAllProduct button:hover {
  filter: invert(1);
}