#AddictProduct {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid #f9f9f9;
  background-color: #fff;
}
#AddictProduct:last-child {
  margin-right: auto;
}
#AddictProduct > img {
  width: 100%;
  /* border: 1px solid #000; */
}
#AddictProduct > div {
  padding: 40px 10px;
  /* border: 1px solid #000; */
  gap: 8px;
  display: flex;
  flex-direction: column;
}
#AddictProduct > div > p {
  padding: 0 10px;
  font-size: 19px;
  display: flex;
  /* border: 1px solid red; */
}
#AddictProduct > div > p > span {
  margin-right: auto;
}
#AddictProduct > div > p:nth-child(2) {
  color: #999;
  font-size: 15px;
}