#Addict footer {
  padding: 0 100px;
  width: 100%; height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#Addict footer>div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: grid;
  place-items: center;
}
#Addict footer div>div {
  font-size: 16px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#Addict footer h3 {
  margin-bottom: 15px;
  text-align: left;
}
#Addict footer p {
  text-align: left;
}