#AddictLoginDialog {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}
#AddictLoginDialog form {
    width: 300px; height: 100%;
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#AddictLoginDialog form > h2 {
    font-size: 19px;
}
#AddictLoginDialog form > p {
    padding: 10px;
    font-size: 15px;
}
#AddictLoginDialog form input,
#AddictLoginDialog form button {
    padding: 16px 20px;
    width: 100%;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#AddictLoginDialog form input::placeholder {
    color: #aaa;
}
#AddictLoginDialog form button {
    color: #fff;
    border: none;
    background-color: #000;
}