#Mureka {
  background-color: #fff;
  
  .Container {
    position: relative;
    padding: 2px 8px 8px 8px;
    width: 100%;
    display: flex;
    overflow-y: scroll;

    main {
      position: sticky;
      top: 0px;
      flex: 7.5;
      height: fit-content;
      border-radius: 8px;
      background-color: #f8f9fa;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .applyPadding {
      padding: 40px;
    }

    .showAside {
      margin-right: 16px;
      flex: 2.5;
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}