#Pharagraph {
  header {
    margin: 0 auto;
    width: 1280px; height: 100px;
    gap: 40px;
    display: flex;

    > a, button {
        height: 100%;
        display: grid;
        place-items: center;
        cursor: pointer;
    }

    > a:nth-child(1) {
      margin-right: auto;
      font-size: 60px;
      font-weight: 900;
    }
  }
}
