#CommunityBoardPage {
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    section {
        width: 100%; height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.CommunityCard {
    aspect-ratio: 1;
    border: 1px solid #000;
}